[2014-04-12 13:51] Rantanen opened #1 "Globally installed jscs-jsdoc doesn't work"
JSCS checks for additional rules relative to the config path or process working directory. Files not found are silently ignored (even if they were specified with full path instead of *.js).

[2014-04-12 19:20] #1 closed, assigned to nobody

[2014-04-12 21:17] qfox opened #2 "Add ability for listing object properties as md rows (prefixed with dash)"
According to mdevils/node-jscs#245 we should check it all and describe in docs.

e.g.

[code]

[2014-04-12 23:12] qfox opened #3 "Use jsdoctypeparser or/and jsd"
Just because.

Also it should fix multiline params parsing issue: mdevils/node-jscs#245

[2014-04-22 15:35] qfox opened #4 "Enforce jsdoc existance check"
According to mdevils/node-jscs#344

[2014-05-06 12:50] qfox opened #5 "Checking that if method is @private or @protected then it should have trailing underscore"
According to mdevils/node-jscs#210

[2014-05-27 02:00] ronkorving opened #6 "Update compatibility to JSCS"
jscs-jsdoc can currently not be installed with the latest version of jscs. Very unfortunate, because this plugin seems pretty awesome! I wanna try it out :) Can this be resolved?

[code]

[2014-05-27 02:27] #6 closed, assigned to nobody

[2014-05-27 02:59] ronkorving opened #7 "Uncaught exceptions in lib/jsdoc-helpers.js"
I'm using JSDoc3 (is that compatible?) and am getting uncaught exceptions on a fairly large codebase. I'm not sure how to detect which file and jsdoc entry in my code is causing the exceptions however. In any case, the nature of them is as follows:

[code]

If on that line, I detect that and `continue` the loop iteration (effectively skipping these errors), I get the next uncaught error:

[code]

[2014-05-27 04:30] #7 closed, assigned to nobody

[2014-05-27 04:47] ronkorving opened #8 "@returns {string|null} or @returns{?string} do not allow "return null""
When my JSDoc contains `* @returns {string|null}` or `* @returns {?string}`, a `return null;` statement in the following function is not allowed, giving me:

[code]

[2014-05-27 05:36] #8 closed, assigned to nobody

[2014-08-25 03:49] #4 closed, assigned to nobody

[2014-08-25 03:49] #5 closed, assigned to nobody

[2014-10-13 18:49] daprahamian opened #13 "Need way to enforce existence of methods"
My team would like to use jscs-jsdoc. However, we generally have a coding practice that involves both using anonymous functions to create our methods, and using frameworks like Backbone, Marionette, and underscore to create our object prototypes. With this in mind, is there any way to create a rule that either allows you to enforce the existence of jsdoc on anonymous functions, or perhaps to do so

[2014-10-29 09:27] arikon opened #15 "Use semver"
Current version is `0.0.13`. By semver it means — don't use it, it is in the early development state.

I propose releasing `1.0.0` version of the package.

[2014-10-29 12:00] pigulla opened #16 "TypeError: Cannot call method 'toLowerCase' of undefined"
#### Setup

[code]

[code]

[code]
#### Output

[code]

[2014-10-29 12:43] #16 closed, assigned to nobody

[2014-10-29 13:55] pigulla opened #17 "Add support for Closure Compiler type expressions"
It would be awesome if the plugin supported (i.e., validated) [Closure Compiler type expressions](https://developers.google.com/closure/compiler/docs/js-for-compiler#types), for instance via [catharsis](https://www.npmjs.org/package/catharsis).

Could be toggleable like so:

[code]

and likewise for `@return` annotations.

[2014-10-29 14:01] pigulla opened #18 "Validate annotation tag names"
It would be nice if the plugin could also validate annotation names, e.g.:

[code]

would fail because no such tag exists (typo).

Ideally, there would be various ways to configure this:

[code]

Might be a good idea to add version support from the get-go, so use `jsdoc3`, `jsduck4`, `jsduck5` etc.

[2014-10-30 09:10] pigulla opened #19 "checkReturnTypes fails with TypeError: Cannot call method 'replace' of undefined"
[code]

[code]
### Output:

[code]

[2014-10-30 09:56] pigulla opened #20 "Type expression parses breaks with nested curly braces"
It looks like the code to parse type expressions from the comments does not work properly with nested curly braces:

[code]

[code]

[code]

If you look at the string that gets passed to [jsDocParseType](https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/jsdoc-helpers.js#L98) you will notice that it is `{a: number, b: string`, so it is missing the closing curly brace.

[2014-10-31 09:15] antoncl opened #21 "enforceExistence "overlooks" certain method definitions"
Not all functions are checked for missing jsdoc tag definitions.

I have created a minimum example:

[code]

Using a .jscsrc configuration like this:

[code]

Produces these errors:

[code]

Clearly JSCS detects the function definitions in lines 3 and 7, but JSCS-JSDoc fails to report the missing JSDoc tags

[2014-11-02 09:02] qfox opened #23 "Check configuration values on init"
Check configuration and throw errors if come values are not valid.

As well as in `jscs` it should be done here.

[2014-11-02 11:59] qfox opened #24 "Do we need qooxdoo jsdocs?"
At first glance they swapped name and type in `@param`. But probably there are much more critical changes.

http://manual.qooxdoo.org/2.1/pages/development/api_jsdoc_ref.html

It's cool to support all things but implementing at least swapping of name and type would be harder than it looks like because of `comment-parser` waits for "name {type} desc" for all tag types. But we can patch this. Need t

[2014-11-02 19:04] #21 closed, assigned to qfox

[2014-11-02 19:11] #20 closed, assigned to qfox

[2014-11-04 01:54] qfox opened #26 "Smarty type testing for params and returns"
For example:

[code]

[2014-11-04 10:35] #19 closed, assigned to qfox

[2014-11-05 14:28] qfox opened #29 "Look closer at options used in DocBlock"
Bunch of these options could be very nice to support at server-side checking

https://github.com/spadgos/sublime-jsdocs

[2014-11-05 22:46] cowwoc opened #30 "Document what cases checkRedundantReturns covers"
I've got `checkRedundantReturns` enabled. So far I've gotten a warning for `@return {undefined}` (which I understand) but then I just got it for:

[code]

Why is the `@return` redundant? Isn't it possible for the constructor to return a subclass?

[2014-11-05 22:57] cowwoc opened #31 ""Wrong returns value" warning ignores subclasses (@class and @extends support)"
Given:

[code]

where `ArrayPreconditions` and `StringPreconditions` both subclass `ObjectPreconditions` as follows:

[code]

I am expecting to be able to return `ObjectPreconditions` without having to specify every possible subclass. From the end-user's point of view, the subclasses are an implementation detail.

[2014-11-05 23:42] #13 closed, assigned to qfox

[2014-11-06 02:47] cowwoc opened #32 "checkReturnTypes fails for @typedef"
Given:

[code]

The function returns the correct type (following duck typing) yet jscs-jsdoc fails with:

[code]

I believe my syntax is correct because http://justjson.blogspot.ca/2013/07/jsdoc-documenting-configparamcustom.html does the same for the `@returns {JustJson.Greeting.Config}` example.

[2014-11-06 04:34] cowwoc opened #33 "Add "out of order" case for @param error"
Given:

[code]

I get tons of warnings like:

[code]

It's not clear why the warnings begin at this line while previous lines pass.

Action items:
1. Figure out why line is triggering an error. Is it a bug? If so, fix it.
2. Improve error message to explain what value was encountered versus what value was expected. Looking at the source-code, the error message should provide the values of `jsDocNa

[2014-11-06 16:41] cowwoc opened #34 "checkRedundantReturns: thought about reworking rule"
[code]

This is a function, not a constructor, yet I am getting the Redundant JsDoc @returns error on the @return line.

You asked what kind of JsDoc I am using... I'm not actually producing any documentation from this yet. I am currently coding this (mostly) blind using http://usejsdoc.org/ as reference and https://netbeans.org/ for some light syntax validation (they have some built-in JsDoc engi

[2014-11-06 19:13] cowwoc opened #35 "@param for varargs"
Given:

[code]

from http://usejsdoc.org/tags-param.html you will get "Invalid JsDoc type definition" for the `@param`. It looks like the varargs syntax is not recognized.

[2014-11-10 02:02] #3 closed, assigned to qfox

[2014-11-10 13:13] kristerkari opened #39 "v0.0.17 throws "TypeError: Cannot call method 'iterateByType' of null""
Using JSCS v1.7.3

my jsDoc options:

[code]

jscs-jsdoc v0.0.17 throws:

[code]

v0.0.16 works as expected.

[2014-11-10 13:34] #39 closed, assigned to nobody

[2014-11-10 13:57] kristerkari opened #41 "v0.0.19 does weird validation"
Using JSCS v1.7.3

With jsDoc options:

[code]

This code in v0.0.19:

[code]

Validates as:

[code]

v0.0.16 will pass the checks

[2014-11-10 14:20] #41 closed, assigned to qfox

[2014-11-10 21:10] #32 closed, assigned to qfox

[2014-11-10 22:42] cowwoc opened #45 "checkTypes: Expected valid type"
I am getting:

`jsDoc checkTypes: Expected valid type instead of URI.<operator>[] at Operator.js`

What determines whether a type is `valid`? In the above case, a type called `URI` is defined (by URI.js) and I am attempting to denote what kind of resource the URI points to. I am more than happy to change the syntax I am using but I am not sure what you expect.

[2014-11-10 23:44] #45 closed, assigned to nobody

[2014-11-10 23:49] #23 closed, assigned to qfox

[2014-11-11 01:39] #30 closed, assigned to nobody

[2014-11-11 01:46] #35 closed, assigned to nobody

[2014-11-11 03:35] #33 closed, assigned to qfox

[2014-11-18 00:49] hzoo opened #50 "New rule: requiring/disallowing hyphen before param definition"
Could this be a rule?

`* @param {string} somebody - Somebody's name.`
vs.
`* @param {string} somebody Somebody's name.`

[2014-11-18 00:53] hzoo opened #51 "new rule: require/disallow "Title Case" for parameter types"
`* @param {Array} arr`
vs.
`* @param {array} arr`

maybe an exception for string, number, etc?

[2014-11-18 02:23] qfox opened #53 "[CONTRIBUTION.md] describe rule formats and tests for them"
According to discussion in https://github.com/jscs-dev/jscs-jsdoc/pull/52

[2014-11-18 02:54] #50 closed, assigned to nobody

[2014-11-18 04:04] #53 closed, assigned to nobody

[2014-11-25 22:44] tunnckoCore opened #56 "check-param-names enhancement"
Just look these cases

[code]

Need explanation? Reports because of **`, <, >** chars in `tag.name.value`'s

The solution is to add escaping just before [if statement](https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc/check-param-names.js#L50)

[code]

We use these because we use code comments to generate markdown docs automagically.

Want PR?

[2014-11-26 05:42] #56 closed, assigned to nobody

[2014-11-26 08:38] #51 closed, assigned to nobody

[2014-11-26 13:31] #18 closed, assigned to qfox

[2014-11-26 13:45] #17 closed, assigned to qfox

[2014-11-26 13:49] #24 closed, assigned to nobody

[2014-11-26 21:07] daprahamian opened #61 "enable/disable individual rules"
Hi,

How do you enable/disable individual rules? I have been able to disable either all rules with:

[code]

And I have been able to disable all  jsDoc rules with:

[code]

But I have not figured out how to disable select jsdoc rules while using the others. For neither of the following work:

[code]

Is there a way to do what I am looking to do?

Thanks

[2014-11-30 21:43] qfox opened #62 "... in param type or name should set up optional flag"
In follow of #35

[2014-11-30 23:18] #62 closed, assigned to nobody

[2014-12-01 16:06] qfox opened #68 "add exceptions to leadingUnderscoreAccess"
- `__constructor`
- `__proto__`
- etc.

see also https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-dangling-underscores.js#L24

Add option to add your own exceptions.

[2014-12-01 16:11] qfox opened #69 "checkAnnotation: use several tag sets per config"
Instead of true/false it should have explicit checking type.
True and false should be deprecated values in future and left as is for now.

upd: To use jsdoc3/jsduck5 as a base with some special subsets like closurecompiler or apidoc.

[2014-12-01 16:20] zxqfox opened #70 "new rule / improve checkRedundantAccess or leadingUnderscoreAccess"
It's a check now for a several `@access` tags (or analogues) in jsdoc.

It should also check somehow for dangling underscores (except `__proto__`, `__constructor`, etc.).

[2014-12-01 18:16] qfox opened #71 "checkTypes: need value for lowercased null with TitleCases primitives"

[2014-12-02 10:08] qfox opened #72 "Check dotted params for jsdoc3 format"

[2014-12-02 10:16] #72 closed, assigned to nobody

[2014-12-16 22:29] cvrebert opened #74 "False positive for bare @class"
[Example straight from the JSDoc docs](http://usejsdoc.org/tags-class.html):

[code]

Output from JSCS Grunt task:

[code]

Relevant portion of `.jscsrc`:

[code]

Relevant versions in use:

[code]

[2014-12-24 09:59] eidng8 opened #75 "unavailable tag example"
according to JSDoc manual, the example tag [http://usejsdoc.org/tags-example.html] should be available.

Am I missing somthing here:

[code]

[2014-12-27 18:36] Deathspike opened #76 "@return unavailable in closurecompiler?"
I have a declaration like this:

[code]

With the following settings:

[code]

And I get a warning that @return`is unavailable. It should be`@return`, not`@returns` for closure.

[2014-12-28 03:29] #74 closed, assigned to nobody

[2014-12-28 03:29] #75 closed, assigned to qfox

[2014-12-28 03:29] #76 closed, assigned to nobody

[2014-12-28 03:44] #71 closed, assigned to nobody

[2015-01-22 15:14] Aetet opened #79 "Wrong detection for redundant param statement"
if I have params with properties and more than one argument I have wrong detection for redundant param statement.

Example of code linting fails on jscs-jsdoc v 0.4.0:
[code]

Fail log:
[code]

If code looks like this it works like a charm:
[code]

[2015-01-22 15:22] zxqfox commented on #79
Ouch. I didn't notice that ;-( Thanks for a report!

[2015-01-22 16:52] Aetet commented on #79
You are welcome.

[2015-01-22 17:43] #79 closed

[2015-01-22 17:47] zxqfox commented on #79
Thanks again. Landed in v0.4.1

[2015-01-22 22:23] zxqfox opened #80 "Add apiDoc tags support"
https://github.com/apidoc/apidoc/

[2015-01-22 23:04] zxqfox opened #81 "Add support of complex param names for jsdoc"
Like `employees[].name`

See http://usejsdoc.org/tags-param.html

[2015-01-23 00:17] zxqfox commented on #68
Partially done. Need to add `allExcept` here.

[2015-01-23 01:26] #70 closed

[2015-01-24 19:22] necolas opened #82 ""unavailable tag return""
Since updating to `0.3.x`, I get a lot of linting errors where there previously were none.

Config:

[code]

Example that produces the error:

[code]

It's not clear to me what the problem is now.

[2015-01-24 20:12] zxqfox commented on #82
Thanks for reporting.

I think that's because `closurecompiler` set was updated (that's a reason why minor version was bumped). Did you looked at #76?

Anyway, 0.4 branch have `@return` in preset and should works fine.
Is it possible for you to upgrade to the latest version?

[2015-01-25 05:44] necolas commented on #82
Oh, didn't notice 0.4.x. Upgraded and that removed the issues with `return` but there are others I'm noticing now:

[code]

The `file`/`overview`/`fileoverview` tag is defined as JSDoc:
http://usejsdoc.org/tags-file.html

The private tag apparently accepts a type value for closure, but the closure recommendation is to use `type` separately now:

http://usejsdoc.org/tags-private.html
https://develo

[2015-01-25 13:02] zxqfox commented on #82
Are these tags (`file`, `overview`, `fileoverview`) should be a part of `closurecompiler` set?

I'm fixing the rest.

[2015-01-25 13:31] zxqfox commented on #82
Also about `{./listenable.ListenableKey}` you should take a look at https://github.com/Kuniwak/jsdoctypeparser/issues/6 — we based on `jsdoctypeparser` and this type-string is unparsable (read "invalid").

Still investigating why this rule failing on invalid types.

[2015-01-25 13:56] zxqfox commented on #82
What you think about `@private {type}` notation? Current docs (as you said) recommend to use separate `@type` tag.
Also you can shut up `jscs-jsdoc` with `checkAnnotations`: { extra: { private: true } }` so it's not a problem for custom or old jsdoc-comments.

I think we should left preset as is (as closest to the current `cc` set). Thoughts?

[2015-01-25 14:06] zxqfox commented on #82
Patch for `checkRedundantReturns` landed in v0.4.4. Thanks!

[2015-01-25 17:30] necolas commented on #82
Thanks!

Yeah I switched all the `@private` to use `@type` when needed, especially since it is what cc recommends now. Don't think you need to deal with that. However, the `@file(overview)` tags are part of JSDoc apparently. I've been using the `extra` object for cc-specific tags like `@preserveTry` and `@suppress`.

[2015-01-25 17:56] zxqfox commented on #82
Can we open an separate issue about `@file(overview)` tags? Or if you sure that it's a part of **any** jsdoc dialect — I can just add it (or send PR ;-).

[2015-01-25 19:16] necolas opened #83 "Add support for file / overview / fileoverview tag in closurecompiler"
As defined in JSDoc:

http://usejsdoc.org/tags-file.html

[2015-01-25 19:17] necolas commented on #82
Done #83. Thanks

[2015-01-25 19:17] #82 closed

[2015-01-25 19:54] zxqfox commented on #83
@necolas Thanks for filing it.

For now `closurecompiler` set is merge of https://developers.google.com/closure/compiler/docs/js-for-compiler#tags and
https://code.google.com/p/jsdoc-toolkit/wiki/TagReference

On the second page we have `@fileOverview` tag — that's what you need I think.
And it's in set https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/tags/closurecompiler.json#L22 — Not the

[2015-01-25 20:34] necolas commented on #83
OK, we'll switch to `@fileOverview` assuming closurecompiler is cool with it. Thanks

[2015-01-25 21:06] zxqfox commented on #83
If you using some tool to autogen docs with cc — please try to use other aliases there. It would be very helpful.

[2015-01-25 22:18] zxqfox commented on #83
@necolas I feel like a bad guy who forced you to use old tag. According to https://code.google.com/p/jsdoc-toolkit/: "...project is no longer..." and it redirects to github account of jsdoc3. So you're right, and I'm wrong. Sorry for that.

Also I'm thinking that better to have sets for different docgen tools like `jsdoc3`, `doxx` or `yuidoc` (if somebody need it). Separated `closurecompiler` set

[2015-01-26 21:42] necolas commented on #83
I don't know about how much closurecompiler and jsdoc3 are related, but your plan sounds ok to me. Hard to find a list of all the supported closurecompiler tags. For example, various google projects have `@suppress` and `@preserveTry`, but they aren't documented in the contemporary closure docs. Easy to add to the `extra` too.

Thanks for your help with this.

[2015-02-05 01:20] zxqfox opened #84 "Upgrade comment-parser and split up name/tag parsers"
New comment-parser version support custom tag parser callbacks so we can drastically simplify rules parsing and fix some potential bugs.

Also it will help to resolve #81 and #2

[2015-02-11 08:04] zxqfox opened #85 "Make a rule to force a newline between description and first tag"
Invalid:
[code]

Valid:
[code]

[2015-03-10 20:27] tersmitten commented on #85
+1 for that feature

[2015-03-11 04:15] zxqfox commented on #85
@tersmitten Do you mind to make it? ;-)

[2015-03-11 13:53] tersmitten commented on #85
@zxqfox: I'll see what I can do

[2015-03-11 13:56] tersmitten opened #86 "AssertionError with "requireParamTypes": true"
[code]

Our `.jscsrc` looks like this:

[code]

[2015-03-11 14:01] zxqfox commented on #86
Would be great also to see some code. Please ;-)

[2015-03-11 15:59] zxqfox commented on #86
I'm not sure that I've fixed this but I can't repeat it. Please provide some test code to be sure or test on your case by self with the latest master.

Thanks for contribution!

[2015-03-12 17:55] TripledT opened #87 "add option to enforceExistence only on module.exports ?"
The enforceExistence option supports all and exceptExports.  I was wondering what the reason was for excluding exports from the check ?  It seems that since exports is what is being shared, that they should be documented.

[2015-03-13 06:57] zxqfox commented on #87
In some cases no need to have jsdoc for files like:
[code]

And files like that don't need documentation for `.exports`.

Anyway, if you feel that you need to describe each function in your code — use `true` ;-).

[2015-03-27 16:46] checat opened #88 "Support module: and external: in checkTypes"
When jscs with checkTypes enabled meets the line like
[code]
it reports an error "expects valid type instead of module:my-name.SomeName".
It should accept module:module-name and external:module-name prefixes.

http://usejsdoc.org/howto-commonjs-modules.html#module-identifiers shows examples of namepaths like `module:my/pants.Jeans#hem` and http://usejsdoc.org/tags-external.html shows the same for

[2015-03-28 12:03] zxqfox commented on #88
Thanks for noticing. We using here `jsdoctypeparser` which already has https://github.com/Kuniwak/jsdoctypeparser/issues/6

Can you ask @Kuniwak about it?

[code]

And about external: Are you sure that `external:*` is available for types?

[2015-03-28 12:22] checat commented on #88
It seems jsdoctypeparser supports 'module:'
[code]
Is it something unexpected?

I'll ask for external, though.

JSDoc examples show the same syntax for "external" and "module" and properly generates references when used as `@param {external:...}`.

[2015-03-28 12:35] zxqfox commented on #88
Thanks again. Seems like problem with minus sign. Need to fix it definitely.

[2015-03-28 12:42] checat commented on #88
Kuniwak/jsdoctypeparser/issues/12

[2015-04-06 10:15] sameoldmadness opened #89 "Several jscs-jsdoc rules confilcts with jscs rule"
Given `.jscsrc`

[code]

and javascript file

[code]

jscs gives me an error:

[code]

When I disable `jscs` rule or _every_ `jscs-jsdoc` rule, linting successfully passes.

[2015-04-06 18:06] zxqfox commented on #89
Hm. Are you sure that the problem in these rules? Looks like there can be another rule that modifing JSFile data.

[code]

[2015-04-06 21:46] sameoldmadness commented on #89
[code]

[2015-04-06 21:47] sameoldmadness commented on #89
just in case:

[code]

[2015-04-06 21:50] sameoldmadness commented on #89
oh shi... I messed with jscs rule : )

the correct one is `disallowMultipleLineBreaks`.

[2015-04-06 21:51] zxqfox commented on #89
[code]
Wow.

Yeah, thanks! I've got that error. Looks like it's an issue in jscs. Investigating...

[2015-04-06 23:13] #89 closed

[2015-04-06 23:25] zxqfox commented on #89
Thanks again. Landed in v0.4.6.

[2015-04-06 23:27] #87 closed

[2015-04-06 23:29] zxqfox commented on #87
I'm closing this for now, feel free to discuss if you think that it should be reworked.

[2015-04-07 07:21] sameoldmadness commented on #89
Great.

[2015-04-10 09:40] alawatthe opened #90 "destructuring parameters fail checkParamNames"
These days I'm often using the following pattern to pass variables to functions
[code]

This leads to the problem, that the destructuring object doesn't have a name, which is required by ```checkParamNames```.

Giving the parameter no name, leads to the ```Missing param name``` error
[code]

Giving it a random name leads to the ```Expected undefined but got object``` error.
[code]

Trying to hack

[2015-04-10 16:17] zxqfox commented on #90
Yeah, I'm not sure about ES6 support for now. ;-( Thanks for the report, at the first look I agreed with you.

But probably there is a way to check them as a usual case. Do you really need to describe `{Object}` as separate `@param`?

I would suggest to use:
[code]

But for now it's easier to disable these validations and when ES6 will be jsdocable — just integrate them back.

Would you like to ta

[2015-04-13 21:38] dtracers commented on #86
We found that it can be in the case was
* @param paramName
*            {ParamType}

When we removed the jsdoc plugin we were notified that this was the error (from normal jscs) and when we fixed it then the plugin worked when we added it back.

[2015-04-13 21:40] zxqfox commented on #86
@dtracers Wow. Please provide version of jscs and jscs-jsdoc. I want to repeat it by self (bug should be fixed, especially if it randomly affects jscs plugins).

[2015-04-13 21:47] dtracers commented on #86
Jscd-jsdoc "=0.4.5" (but happened on 0.4.6 too)
Grunt-Jscs 1.5.0 and 1.6.0
I did not try other versions.

When we did remove jsdocs it said that the param type did not exist.
Because we had it after the name of the param.
On Apr 13, 2015 4:41 PM, "Alexej Yaroshevich" <notifications@github.com>
wrote:

[2015-04-14 19:41] leore opened #91 "Error: Unable to load JSCS config file at ~/Documents/Projects/Lob/lob-api/.jscsrc"
Any idea why I am getting this error.

This is my config:

[code]

[2015-04-14 19:44] #91 closed

[2015-04-16 20:58] alawatthe commented on #90
Hmm, yeah perhaps it is a little bit to early to do stuff like this. Especially since JSDoc currently requires the name of the parameter. I opened a bug regarding this topic over at the jsdoc repo: https://github.com/jsdoc3/jsdoc/issues/987

Anyway, I created a pull request over at #92.

[2015-04-21 11:44] tenorok opened #93 "Both usage of `abstract` and `returns` properties"
Hello!
I want to declare interface of abstract function, but I have a problem with both usage of `abstract` and `returns` properties.
[code]

It is bug?

[2015-04-21 15:00] zxqfox commented on #93
@tenorok It is unexpected behaviour. ;-)

Feels like we need to skip checking this for `@abstract` declarations.

[2015-04-21 18:24] ikokostya opened #94 "Error with array type"
Example:

[code]

`.jscsrc`

[code]

Output:

[code]

Expected behavior: correct check array types.

[2015-04-21 18:54] zxqfox commented on #94
Are you sure it's valid?

[2015-04-21 18:56] zxqfox commented on #94
@ikokostya We using here http://kuniwak.github.io/jsdoctypeparser/ and it can't parse it.

As a quick replacement: `Array.<Number[]>`

[2015-04-22 13:01] ikokostya commented on #94
https://github.com/jsdoc3/jsdoc/issues/705

You can try https://github.com/Constellation/doctrine for parsing jsdoc

[2015-04-22 13:42] zxqfox commented on #94
@ikokostya :+1:

[2015-04-30 12:10] zxqfox opened #95 "Replace all badges with svg versions"
https://github.com/jscs-dev/jscs-jsdoc/commit/a3accde842a70a7a3967b9b553ef2f91dbf9acba#commitcomment-10972524

[2015-05-03 17:13] #95 closed

[2015-05-03 18:50] zxqfox opened #96 "Check all rules to be compatible with ES6-related things"
Ref #92

[2015-05-03 18:57] #84 closed

[2015-05-03 18:58] #93 closed

[2015-05-03 20:25] zxqfox opened #97 "New Rule: checkThrows"
- Should check `@throws` declarations for methods with `throw`s statements;
- Should check types (as well as returns do);
- Should check throws only in current scope (as well as returns do).

Any suggestions?

[2015-05-03 20:36] #90 closed

[2015-05-03 22:17] alawatthe opened #100 "check default values"
One thing, which came to my mind while thinking about #96, is the checking of default values. The following snippet should raise an error:

[code]

Thoughts?

[2015-05-03 22:33] alawatthe opened #102 "coveralls coverage monitoring"
It would be really great to have it.

And according to https://github.com/jscs-dev/jscs-jsdoc/issues/15#issuecomment-65008674 it is the only thing left to before 1.0.0 can be released ;-D

[2015-05-03 22:55] zxqfox commented on #100
Yeah, it should.

What about denying default values in docs if it exists in code?

[2015-05-03 23:08] #102 closed

[2015-05-03 23:10] zxqfox commented on #102
@alawatthe Thanks, done ;-)

[2015-05-03 23:12] alawatthe commented on #102
That was quick. Awesome :+1:

[2015-05-03 23:44] #85 closed

[2015-05-04 03:49] #15 closed

[2015-05-04 14:48] alawatthe commented on #100
Why do you want to disallow default values in the docs, if they exist in code? Shouldn't they then be required in the docs? I am a bit confused...

My plan introducing a new rule named ```checkDefaultValues``` which does something like:

* If there is a default value in code, the value should be marked as optional in the docs and have a default value. If this is not the case, throw an error.
* And

[2015-05-04 15:33] zxqfox commented on #100
@alawatthe Yeah, it was a bad idea. You're going right, I like your plan :+1:

This one should works only in ES6+, of course. The rest is good to me.

Not sure what we decide about default mode but looks like we should pass these: https://github.com/jscs-dev/node-jscs/blob/master/lib/config/configuration.js#L167-L178

[2015-05-04 21:08] zxqfox commented on #86
@dtracers Yeah, It doesn't supported atm. Any reason to write type after variable name?

[2015-05-04 21:11] dtracers commented on #86
I find it is easier to separate the variable name from the message.  But we
have been putting the message on the next line so we don't need it after
anymore.
On May 4, 2015 4:08 PM, "Alexej Yaroshevich" <notifications@github.com>
wrote:

[2015-05-04 21:14] zxqfox commented on #86
@dtracers Good news! Thanks for response ;-)

[2015-05-04 21:14] #86 closed

[2015-05-05 08:42] tenorok commented on #93
Cool! :star2:

[2015-05-07 05:47] thomaswmanion commented on #91
For those who look at this in the future, I had this problem as well and it was because the path to the .jscsrsc was incorrect.

[2015-05-11 21:16] #88 closed

[2015-05-11 21:16] #94 closed

[2015-05-30 21:48] dtracers commented on #100
you could have each bullet point as 3 different options passed in.

one option for each bullet point.
That way we can worry about the issues each one causes separably.

And so people who do not have ES6 won't have to worry about their code failing to pass.

[2015-05-30 21:56] dtracers opened #106 "New Rule: Require Description to be a complete sentence."
This is something that checkstyle has in java and I think I might implement this rule.

Where a complete sentence one that must start with a capitol letter and end end with a period.
This can also be added with the description requires a new line and we can say that the first sentence must have a separate line from the other sentences (even if both sentences are on the same line)

Basically an exa

[2015-05-30 21:58] dtracers opened #107 "New Rule: parameters require description"
I would like a rule that says all parameters must require a description.

That way you can not just add a parameter but not describe what it is.

(not sure how to implement this one though)

[2015-05-30 23:28] zxqfox commented on #106
Sounds good!

[2015-05-30 23:29] zxqfox commented on #107
One sentence per `@param`?

[2015-05-31 01:03] dtracers commented on #107
I was thinking it required at least a letter or digit after the name.

[code]

But this throws an error.

[code]

Also another way people write these (just to think about supporting)

[code]

But this second one would probably be a separate rule about all param descriptions must be on the next line

[2015-05-31 01:29] dtracers commented on #106
How do you feel about the combined rule of the new line and the sentence?

Or do you think that should be in the description must be a single complete sentence on one line by default?

[2015-05-31 01:41] dtracers commented on #106
Actually I am going to make a new rule for this.

[2015-05-31 01:47] dtracers opened #108 "New Rule: require summary description."
this is an extension of #106 and #99

Which is that a summary description is required with a new line and a complete sentence.

This actually a stricter version of requiring a new line.  But the complete description still can follow under the new line rule.  Basically there must be a period at the end of the first line.  Which is then followed by a new line.

*NOTE*
This does not require the summa

[2015-05-31 03:18] dtracers commented on #106
associated pull request #109

[2015-05-31 14:04] zxqfox commented on #107
It's a simple rule, actually.
Something like `requireParamsDescription`.

Just need to iterate thru nodes with `param` type and check for emptiness of desc property.

:+1: More complex but still not hard to make.

Feel free to make it ;-)

[2015-05-31 14:17] zxqfox commented on #106
:tada:  Agreed!

I've left few notes there, some of them can be discussed, looks good at all!

[2015-06-03 22:04] wbyoung opened #110 "enforceExistence for local functions"
If I have a function that's only ever used inside of another function, I don't think it should it require documentation:

[code]

In the above example, `isCapitalized` would never be accessible to anyone. This doesn't seem much different from not documenting the anonymous version:

[code]

Would an option for enforceExistence to let these go undocumented be a good addition? Would it be hard to add

[2015-06-04 02:19] zxqfox commented on #110
Thanks for idea.

It's not so hard to add. I'm not sure either we should add just an exception or make a new rule option. Thoughs?

[2015-06-05 02:17] wbyoung commented on #110
@zxqfox I could see it going both ways. Different ideas:

I like this the best:

[code]

This wouldn't support all combinations of cases:

[code]

And this seems confusing (does it enable enforce existence or only apply when enabled):

[code]

[2015-06-05 02:19] wbyoung commented on #110
In the first example, the following two shorthand notations:

[code]
[code]

Would be short for the following (respectively):

[code]

[code]

[2015-06-09 16:21] #106 closed

[2015-06-09 16:54] zxqfox commented on #106
Thanks again, landed at master, will publish this asap! :palm_tree:

[2015-06-09 16:56] zxqfox commented on #110
I'm gonna to replace `except*` flags with `allExcept` array or params (to be consistent with JSCS).

So, rule should looks like:
[code]

Hope this is fine ;-)

[2015-06-09 17:07] dtracers commented on #106
Awesome Thanks!

I will probably be making some new rules tonight as well.
On Jun 9, 2015 10:54 AM, "Alexej Yaroshevich" <notifications@github.com>
wrote:

[2015-06-09 17:10] wbyoung commented on #110
@zxqfox sounds perfect. Did you mean:

[code]

[2015-06-09 17:15] zxqfox commented on #110
@wbyoung Ouh, yeah, sure! :smirk:

[2015-06-14 01:47] dtracers commented on #110
Who do you check this for class definition? (pre es6)
[code]

[2015-06-15 19:03] zxqfox commented on #110
@dtracers Agreed. Specs should cover them all!

[2015-06-22 04:14] dtracers opened #113 "[Question] easiest way to give number as an option"
I am making the new rule for description style for params and basically I want them to either put a string or an object that contains a number.

ex:

validTagDescription: "single-line"

or

validTagDescription: { spaces: 10 }

I did not know if there was a way to put in the valid values space like

validTagDescription: { allowedValues: ['single-line', { spaces: '#' }]

or something that represents

[2015-06-23 12:00] dfilatov opened #114 "Error "Missing access tag for ..." for overriden method"
I have the following code:
[code]
I get an error "Missing access tag for myMethod" while I'm trying to process the code with jscs-jsdoc.
I don't want to copy and paste all the tags from base method because it's redundant at all.

[2015-06-23 15:14] zxqfox commented on #114
@dfilatov I see would be nice to skip checking for redundancy if there is `@override` tag. Is it ok for ya?

[2015-06-24 05:55] dfilatov commented on #114
It would be perfect.

[2015-06-24 14:43] #114 closed

[2015-06-24 15:28] #107 closed

[2015-06-24 17:03] zxqfox commented on #114
@dfilatov Thanks!

Landed and published in v1.1.0

[2015-06-24 17:04] zxqfox commented on #107
@dtracers Thank you for you hard work here.

Published as v1.1.0! ;-)

[2015-06-24 17:11] zxqfox commented on #113
There were no real use-cases for Numbers so I've left them to the further researches. In the JSCS repo we thinking about some schema: https://github.com/jscs-dev/node-jscs/issues/895

I think it can be a function for a while with a pure checking like:
function (v) { return typeof v === 'number' || v === true; }

[2015-06-30 00:27] markelog opened #115 "checkReturnTypes for instances"
For example

[code]
`checkReturnTypes` will report violation, when it probably shouldn't

[2015-06-30 00:31] markelog opened #116 "Provide rule names with `--verbose` option"
With `verbose` flag, jscs will show `jsDoc: ...`, which is not very useful, this is probably jscs issue but creating issue here just in case

[2015-06-30 00:33] markelog opened #117 "checkAnnotations: Preset names should be case-insensitive"
As a suggestion, in docs for `checkAnnotations` rule it says -

But for `JSDoc3` it shows the unsupported preset errror

[2015-06-30 00:37] markelog opened #118 "checkAnnotations: jsdoc preset doens't support `@interface` tag"
See http://usejsdoc.org/tags-interface.html

[2015-06-30 00:44] markelog commented on #115
Or, correct way would be
[code]
/cc @mdevils ?

[2015-07-01 01:22] zxqfox commented on #115
Hmm, I think no, it shouldn't. It just try to compare `Element` with `this.constructor` I think.

We can skip this check, or maybe we can try to check it somehow?

[2015-07-01 01:23] zxqfox commented on #116
Related to #1257

[2015-07-01 01:25] zxqfox commented on #117
Yes, but there is "for". And below there are correct values for them. Is it confusing?

[2015-07-01 11:04] mattvot commented on #110
@zxqfox or anyone else. Is this feature currently being developed, if so do we have an ETA?

If not I make an attempt to develop it.

[2015-07-01 12:12] zxqfox commented on #110
@mattvot Give it a try!

[2015-07-03 15:05] mattvot commented on #110
@zxqfox I'm currently attempting to refactor the enforceExistence rule to accommodate more options.

Can you take a look at the progress so far:
https://github.com/mattvot/jscs-jsdoc/blob/edca9079bc171502dda09c962d9e1a9af5426371/lib/rules/validate-jsdoc/enforce-existence.js

I'm having difficulty understanding how to define types of functions (anonymous, expressions etc). Do you have any advice re

[2015-07-03 15:21] zxqfox commented on #110
@mattvot That's how we usually checking function context:
[code]

Anonymous are functions without name usually.

I'd like to move options parsing to configure. E.g. like it does in https://github.com/mattvot/jscs-jsdoc/blob/edca9079bc171502dda09c962d9e1a9af5426371/lib/rules/validate-jsdoc/check-types.js or (if you need more customized) https://github.com/mattvot/jscs-jsdoc/blob/edca9079bc171502dda

[2015-07-07 14:50] mattvot commented on #110
Thanks, it helped.

I've added a few more tests, refactored the configuration as you suggested and added figured out some of the specifics required.

So here's the latest progress of the rule
https://github.com/mattvot/jscs-jsdoc/blob/82598e884fc084861bd460b880a443426531ae73/lib/rules/validate-jsdoc/enforce-existence.js

and the test
https://github.com/mattvot/jscs-jsdoc/blob/82598e884fc084861bd46

[2015-07-07 22:53] zxqfox commented on #110
@mattvot Nice one! I've left some notes here: https://github.com/mattvot/jscs-jsdoc/commit/82598e884fc084861bd460b880a443426531ae73

Do you mind about creating PR ? It looks like almost ready :smirk_cat:

[2015-07-08 09:54] mattvot commented on #110
Great. I'll be working on your comments sometime in the next few days and then issue a PR.

[2015-07-11 07:26] weekens opened #122 "Implement requireReturnDescription"
Similar to `requireParamDescription`, but for returns.

I'd like the following JSDoc to be invalid:

    /**
     * Some description.
     *
     * @returns {Boolean}
     */
    foo: function() {
      return false;
    }

[2015-07-11 12:47] weekens opened #123 "Sentences with trailing ). and ". (and similar) are marked invalid by requireDescriptionCompleteSentence rule"
The sentences like:

    Handles user input (click or keypress).

should be considered valid by `requireDescriptionCompleteSentence`.

For now the rule yields `Sentence must end with a period.` message.

[2015-07-11 12:51] zxqfox commented on #122
@weekens Thanks for suggestion. Do you mind to tackle this? ;-)

It's easy as: https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc/require-param-description.js

What to do:
- add rule file (like require-param-description but with another tags)
- add specs
- update readme

[2015-07-11 12:58] zxqfox commented on #123
Regex failing, yup. Thanks for a report.

https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc/require-description-complete-sentence.js#L35

[2015-07-11 17:54] weekens commented on #122
@zxqfox, I'll try to!

[2015-07-12 14:16] weekens commented on #122
Created a pull request: https://github.com/jscs-dev/jscs-jsdoc/pull/125

[2015-07-12 20:54] #115 closed

[2015-07-12 20:55] #118 closed

[2015-07-16 14:33] mattvot commented on #110
FYI, still intending on PRing my changes, not had the time yet. Next week maybe.

[2015-07-20 15:30] mattvot commented on #110
PR issued, #126

[2015-07-24 19:28] a-x- opened #127 "Not correct warning: «Inconsistent param found», as i see"
Hi guys,
I have a problem with jscs:
[code]

As i understang, this is not correct. Right?

See [here our jscs config](https://gist.github.com/a-x-/011958661c1c8fd41bf7).

Thank you!

Excuse my beginner's English.

[2015-07-25 10:10] alawatthe commented on #127
Thank you for reporting. Could you post the code  (i.e. the complete comment and function) generating this error here?

[2015-07-25 11:25] a-x- commented on #127
Of course:
[code]

[2015-07-25 12:12] a-x- commented on #127
Oh, sorry, this is mine

Correct approach is adding @param size too.
[code]

[2015-07-25 12:13] a-x- commented on #127
Thank you!

[2015-07-25 12:13] #127 closed

[2015-07-29 01:50] cvrebert opened #128 "Upgrade to jscs 2.0.0"

[2015-07-29 09:58] wooorm commented on #123
Just had the same when a tick was used before a period: ``Detach `$node`.`` It’s the `\w` on https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc/require-description-complete-sentence.js#L35 which should probably be something else. `\S` maybe?

[2015-07-29 10:15] zxqfox commented on #123
Definitely! ;-) Wanna tackle this?

[2015-07-29 10:32] wooorm opened #129 "requireDescriptionCompleteSentence: Failure on multiple paragraphs in description without dot"
See [wooorm/jscs-jsdoc-bug](https://github.com/wooorm/jscs-jsdoc-bug/blob/master/index.js) for a not-working example. It’s on jscs 2.0.

Also: it seems to need all the lines in the jscdoc comment to fail.

[2015-07-29 10:32] wooorm commented on #123
Will do

[2015-07-29 22:38] christianv opened #131 "Rule "jsDoc" is already registered"
Using `jscs` version `2.0.0`.

1. Set `.jscsrc` to:

[code]
2. Run `jscs .` in the command line.

You immediately get the following response: `Rule "jsDoc" is already registered`

[2015-07-29 22:38] christianv commented on #131
Also see #128

[2015-07-30 08:47] zxqfox commented on #131
/cc @markelog

[2015-07-30 19:47] markelog opened #132 "requireParamTypes and argument with properties"
From https://code.google.com/p/jsdoc-toolkit/wiki/TagParam

[code]
But jsDoc will warn for such definitions

[2015-08-02 13:16] zxqfox commented on #132
@markelog I don't see it's broken ;-( Need more info. See #133

[2015-08-02 15:58] #123 closed

[2015-08-02 15:59] zxqfox commented on #129
After your fix it works fine but wants a period at the end of list.

[2015-08-02 15:59] zxqfox commented on #129
[code]

[2015-08-02 16:07] #122 closed

[2015-08-02 16:52] markelog commented on #132
Did you run `checkParamNames` on code:
[code]

?

[2015-08-02 17:18] wooorm commented on #129
Hmm. At least there’s no failure anymore. However, it keeps complaining about non-existing problems:

First: `index.js: line 7, col 0, Sentence must end with a period.` (it actually means `line 5, col 3`, at `Baz:`, because when I add a dot after `Qux` the message stays),

If I fix that, I get `index.js: line 5, col 3, You started a new line with an upper case letter but previous line does not end

[2015-08-02 17:21] zxqfox commented on #129
;-( Guess we need to rethink this rule.

[2015-08-02 17:40] zxqfox commented on #132
I've updated test, still no error ;-(

https://github.com/jscs-dev/jscs-jsdoc/pull/133/files#diff-4170383ccbd6bc30dfa2c057c8393ce9R484

[2015-08-02 17:51] markelog commented on #132
Sorry, it seems `requireParamTypes` is offending rule

[2015-08-02 17:54] zxqfox commented on #132
Hm, does requireParamTypes not works as expected? What you suggest to do? ;-)

[2015-08-02 18:32] markelog commented on #132
No, i'm just stupid!

[2015-08-02 18:32] #132 closed

[2015-08-02 19:11] zxqfox commented on #132
;-( okay.

[2015-08-02 20:12] #110 closed

[2015-08-04 02:45] jdforrester opened #135 "Parameter type validation for JSDuck should allow '/' as well as '|' as a value seperator"
Per the [JSDuck documentation](https://github.com/senchalabs/jsduck/wiki/Type-Definitions#type-names), values to be separated by either '`|`' or '`/`'. However, only the first of these works.

[2015-08-04 02:48] jdforrester opened #136 "Parameter type validation for JSDuck should allow non-binary literals"
Per the [JSDuck documentation](https://github.com/senchalabs/jsduck/wiki/Type-Definitions#type-names), values can be literals of booleans, numbers or strings. However, only the first of these works.

### Literals which work
* `{true}`
* `{false}`
* `{true|false}`

### Literals which fail
* `{'foo'}`
* `{"bar"}`
* `{'foo'|"bar"}`
* `{42}`
* `{42|24}`

[2015-08-04 02:58] jdforrester opened #137 "Parameter type validation for JSDuck should allow primitives types"
Per the [JSDuck documentation](https://github.com/senchalabs/jsduck/wiki/Type-Definitions#type-names), values can be objects or primitive values. It's useful to distinguish whether you're expecting an object or a primitive. However, the latter case does not work.

### Primitives types which fail
* `{boolean}`
* `{number}`
* `{string}`

### Equivalent objects which work
* `{Boolean}`
* `{Number}`
*

[2015-08-04 02:59] Krinkle commented on #136
:+1:

[2015-08-04 02:59] Krinkle commented on #137
:+1:

[2015-08-04 10:29] zxqfox commented on #135
Thanks, nice catch!

Need to make some option for types parsing algorithm to use '/' instead of '|'. What you think if we just replace `'/'` to `'|'` for JSDuck (or if option is set)?

[2015-08-04 10:32] zxqfox commented on #137
Guys, both of them should works, just choose what you need. http://jscs.info/rule/jsDoc.html#checktypes

If you want to use both of them in the same project — seems like we need new rule value.

[2015-08-04 10:41] zxqfox commented on #136
Filed an issue at jsdoctypeparser Kuniwak/jsdoctypeparser#16

[2015-08-04 20:01] Krinkle commented on #137
I think `checkType: "strictNativeCase"` will do what we want. We don't actually use boxed primitives. Allowing both only causes confusion and wasted human efforts to fix them to be lowercased instead. This rule would allow us to enforce that.

[2015-08-05 19:07] jdforrester commented on #135
We use '|' not '/' (I only noticed it when looking for other issues ;-)), so I'd love not only understanding both (which to looks like https://github.com/Kuniwak/jsdoctypeparser/pull/21 fixes) but having the style enforce one or the other for consistency, yeah – but should that be a follow-up (wishlist) issue?

[2015-08-05 19:11] zxqfox commented on #135
@jdforrester Yeah, thanks for clarifying that. For now it looks like complicated task cuz we also need some info about used delimiter to check it. Don't see how to check it easily with regexps or something else. Anyway, it's a good idea ;-)

[2015-08-06 21:55] szarouski opened #139 "Enforce existance, but only for functions that has arguments"
In my opinion only hacky/unclear code needs description otherwise developers should express what code is doing using code, not comments. Following that logic and taking in count cases that some functions might not have any arguments is it possible to enforce jsdoc existance, but only for functions which take arguments? Otherwise I need to put empty comments at the top of each function. Thank you.

[2015-08-06 22:12] zxqfox commented on #139
Yeah, why not? Thanks for contribution. Just need to decide how to do it.

[2015-08-06 23:46] szarouski commented on #139
Hi @zxqfox I'll try to figure it out. If there are any examples which might help me along the way, please let me know.

[2015-08-06 23:52] zxqfox commented on #139
We usually doing it with exceptions like `allExcept: ['some', 'thing', 'etc']`.

For now there are 3 options: anonymous, exports, expressions. Feels like we need another one for your case. Any ideas how to call it? Something like `paramless`?

https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc/enforce-existence.js#L15-L20

[2015-08-07 01:18] szarouski commented on #139
`paramless` sounds pretty cool :+1: Less cool, and a little boring alternatives are `no-arguments`, `no-parameters`, `no-params`, `without-params`. It will read like `enforceExistence` for `allExcept: ['without-params']`. I'm fine with any of those including `paramless`, so it is up to you :)

[2015-08-12 17:33] christianv commented on #131
@zxqfox any proposal on how we might be able to fix this? Currently we need to use an older version of `jscs` to make `jsDoc` linting work.

[2015-08-12 20:41] zxqfox commented on #131
For now you can move `"plugins": ["jscs-jsdoc"]` out of your `.jscsrc` to use bundled version of this plugin.

I'm still not sure how to resolve this issue to allow users install custom version of `jsdoc` plugin. Need some time to decide (or some contribution of a good guy ;-).

[2015-08-13 15:17] markelog commented on #131
Honestly, don't see the problem there, we already have installed `jscs-jsdoc` plugin, so you don't need to put it in `plugins`

[2015-08-16 04:01] szarouski commented on #131
@zxqfox I'm a good guy :) Let me know what you think is the best. My suggesting - lets remove jscs-jsdoc from jscs dependencies and finish https://github.com/jscs-dev/jscs-jsdoc/issues/128?

[2015-08-19 13:42] zxqfox opened #142 "jsdoc3: lacks @inheritdoc tag"
Ref http://usejsdoc.org/tags-inheritdoc.html

[2015-08-20 16:21] blazkovicz opened #143 "Jsdoc and destructuring"
I use jscs 2.1.0 with `{"esnext": true, "jsDoc": {"checkRedundantParams": true}}` in WebStorm for inline linting. Jscs highlights param definitions for destructured params (except first) as redundant:
[code]

[2015-08-20 16:42] zxqfox commented on #143
Oh, <3 issues about esnext features! ;-)

But atm it doesn't supported. But anyway your jsdoc is wrong. Since your constructor has only one param {Object} with internal structure you should describe it correctly:
[code]

If you know how to do it correctly just tell me because I don't ;-( I don't see anything in jsdoc manuals.

[2015-08-21 05:51] blazkovicz commented on #143
WebStorm generates my jsdoc with unstructured param names, I think it's corrent since I do not have access in cunstructor to "opt" or "opt.query" but only to "action" and "result".

[2015-08-21 05:58] zxqfox commented on #143
http://usejsdoc.org/tags-param.html — nothing about it
https://github.com/senchalabs/jsduck/wiki/@param — still nothing

https://github.com/jsdoc3/jsdoc/issues/987#issuecomment-93864964 — gotcha!

[2015-08-21 06:05] zxqfox commented on #143
Left the comment in jsdoc repo.

I'm fine if we make this possible, but then it won't work in jsdoc tool. Guess it will hurt a lot of people ;-( Personally I don't like this noise but... dunno.

I'm open to suggestions. Perhaps community will join to the discuss.

[2015-08-21 06:49] blazkovicz commented on #143
Thanks for the detailed answer. I'll try to stick with your suggestion for now, but hope jscs will allow bried param descriptoin for such cases in the future.

[2015-08-21 06:53] blazkovicz commented on #143
Sorry, I was quick to decide on close. Jsdoc may not support this feature as it is, but it allows to describe params as I suggested, so it's up to jcsc to support thi syntax in linting.

[2015-08-21 06:58] blazkovicz commented on #143
Also to the issue: jscs does not highlight param names as wrong, it just indicate mismatch of parameters count, so partial support for destructuring is provided already (by the parser, I assume).

[2015-08-21 07:02] blazkovicz commented on #143
Checked your suggestion about fake param "opt". Jcsc highlights param name as not present in function arguments, so this solution is not appropriate.

[2015-08-22 12:18] tonyganch opened #145 "requireDescriptionCompleteSentence: dot in abbreviation is treated like a sentence end"
With this line in config:
[code]
dots in abbreviations (like `e.g.` or `i.e.`) are mistakenly treated like sentence end.
For example, this line throws an error demanding `e.g.` to be `e.G.`:
[code]
Maybe "sentence end" should be "dot + space" instead of just "dot"?

[2015-08-22 23:03] zxqfox commented on #145
Thanks for reporting.

Related to #129

[2015-08-25 20:32] Krinkle opened #146 "JSDuck validation should enforce "@param {Type...}" format for variadic arguments"
In the latest version of JSCS the "wikimedia" preset now validates documentation comments. However when trying to upgrade, I get the following unexpected error against the [oojs](https://github.com/wikimedia/oojs) repository:

[code]

This is probably a remnant from the validation originally being written for JSDoc3 and JSDuck5 was added later on.

http://usejsdoc.org/tags-type.html:

https://gith

[2015-08-26 08:41] zxqfox commented on #146
Thanks!

Made a request in jsdoctypeparser.

[2015-08-31 14:00] alawatthe opened #147 "enforce existence for classes"
Currently, enforce-existence only enforces the existence of jsdoc comments for functions, but not for classes. I.e. in the following ```constructor``` is required to have a jsdoc comment, but the class itself is not.
[code]
I'd like it, if the rule was also enforce the existence of jsdoc comments on classes.

Thoughts?

[2015-09-03 05:19] Shump opened #149 "jsdoc3 preset is missing 'implements' tag"
I get `unavailable tag implements` error when I try to use the `@implements xxx` jsdoc tag:
http://usejsdoc.org/tags-implements.html

[2015-09-03 07:55] zxqfox commented on #149
Can you show your `jsDoc` configuration?

[2015-09-04 16:25] fyddaben opened #150 "'requireTrailingComma' can not set false"
## error info
[code]

## source code
[code]

## my jscsrc

[code]
i set `requireTrailingComma` to `false`,but `jscs --verbose ./` tell me ,

you should remove it or set true .

i dont konw whats wrong

[2015-09-05 21:07] zxqfox commented on #150
I guess wrong repo?

Try to set it to `null`. http://jscs.info/overview#presets

[2015-09-05 21:08] #150 closed

[2015-09-06 20:15] #139 closed

[2015-09-06 20:50] #117 closed

[2015-09-06 21:07] #142 closed

[2015-09-06 21:07] #149 closed

[2015-09-16 14:44] zxqfox opened #151 "Angular (ngdoc) tag set"
https://github.com/angular/angular.js/wiki/Writing-AngularJS-Documentation#angularjs-specific-ngdoc-directives

- `@ngdoc`
- `@restrict`
etc.

/cc @asgeirbirkis

[2015-09-18 22:22] gajus opened #152 "Configuring requireReturnDescription is throwing "jsDoc plugin was not configured properly""
[code]

This produces an error "jsDoc plugin was not configured properly" using `jscs-jsdoc@1.1.0`.

[2015-09-18 22:29] gajus commented on #152
I had a quick look at the NPM package. This rule has not been included in the bundle:

[code]

[2015-09-18 22:33] gajus commented on #152
This exists only in master, but not in https://github.com/jscs-dev/jscs-jsdoc/tree/v1.1.0/lib/rules/validate-jsdoc. When is this going to be released?

[2015-09-18 22:37] gajus opened #153 "requireDescriptionCompleteSentence invalid example in the documentation"
[code]

Is included as valid, but it fails (as expected) with an error:

[2015-09-19 00:54] gajus opened #154 "checkParamNames invalid example in README.md"
The invalid example does not throw an error:

[code]

[2015-09-19 01:33] gajus opened #155 "Add a rule to enforce maximum comment width"
Add a rule that allows to set a variable maximum width of comment.

This rule is designed to prevent silly long comments, e.g.

[code]

That (depending on the text editor) require that user scrolls the window horizontally to read the entire comment.

Have a sane default, e.g. 70 to encourage consistent width across projects that use JSCS.

Do not forget to consider fullwidth characters. I suggest

[2015-09-20 12:35] zxqfox commented on #152
In a couple of days, I think. I'll try to work on release today's night and/or tomorrow.

[2015-09-20 13:04] gajus commented on #152
@zxqfox Thank you.

[2015-09-22 00:57] #154 closed

[2015-09-22 00:57] zxqfox commented on #154
Hm, it does. I've added a test for this case to be sure in it.

[2015-09-22 11:18] gajus commented on #154
It might have been an issue with 1.1.0.

[2015-09-22 11:19] zxqfox commented on #154
Ah, true. Thanks! ;-)

[2015-09-22 11:23] gajus opened #156 "Add a rule requireReturnDescriptionCompleteSentence"
The equivalent of https://github.com/jscs-dev/jscs-jsdoc#requiredescriptioncompletesentence for `@returns` statement.

[2015-09-22 13:32] marian-r opened #157 "requireDescriptionCompleteSentence: Doesn't recognize sentence ending with parenthesis"
Doesn't recognize valid sentence with parentheses at the end before the dot. It seems as it fails with any non word character.

[code]

[2015-09-22 14:28] zxqfox commented on #157
Thanks for report. Please, try v1.2.0, it should be fixed already.

[2015-09-23 11:01] marian-r commented on #157
Yes, it's fixed. Thanks! I tried it as a standalone plugin, but when can I expect jscs itself to load the new version of this jsDoc rule?

[2015-09-23 11:01] #157 closed

[2015-09-23 11:02] zxqfox commented on #157
@marian-r We planning to ship it in few days or weeks. Thanks! ;-)

[2015-09-23 11:02] marian-r commented on #157
Great :+1:

[2015-09-28 07:33] pedrocaldeira commented on #151
This is an issue that would also be useful for me. :+1:  :em

[2015-09-28 14:21] zxqfox opened #158 "Fix grammar in a couple of rules descriptions"
According to @hzoo notes in PR: https://github.com/jscs-dev/node-jscs/pull/1803

[2015-09-29 08:02] alawatthe opened #159 "enforceExistence is not working with ES2015 exports"
With ```"enforceExistence": true``` and the following function
[code]
I get the following error (using jscs 2.2.0, jscs-doc 1.2.0)

[code]
The error does not occur when using jscs 2.2.0, jscs-doc 1.1.0.

With the following snippet everything is working
[code]

[2015-09-30 06:49] lovedota commented on #159
@zxqfox When will we have a new release for it. i am using *jscs 2.2.1*, and i face a same problem too. Thanks !

[2015-09-30 09:36] alawatthe commented on #159
Wow, that was quick, thanks :-)

But this fix only considers ExportDefaultDeclarations and not ExportNamedDeclarations, right? So,
[code]
will still fail.

I should have included that in my initial report :-|

[2015-09-30 10:30] lovedota commented on #159
@alawatthe Thanks i have the same problem !

[2015-09-30 14:28] bastienmoulia commented on #151
You can use the extra features or make a pull request with a new ngdoc preset.
[code]

[2015-09-30 20:58] zxqfox commented on #159
Oh, right. Will add tests for these cases and fix them if needed. ;-) Thanks for reports!

@lovedota If you need to update jsdoc plugin — just install more freshy jscs-jsdoc version than bundled in jscs (e.g. `npm i jscs-dev/jscs-jsdoc` for master branch).

[2015-09-30 22:28] zxqfox commented on #159
What about:
[code]
?

[2015-10-01 04:36] zxqfox commented on #152
@gajus Landed and published! ;-) Thanks

[2015-10-01 04:36] #152 closed

[2015-10-01 08:26] yekver opened #164 "disallowTabs fails with TypeError"
TypeError: Cannot call method 'replace' of undefined
    at renderLine (/home/vagrant/www/node_modules/jscs/lib/errors.js:250:17)
    at Object.Errors.explainError (/home/vagrant/www/node_modules/jscs/lib/errors.js:181:13)
    at /home/vagrant/www/node_modules/jscs/lib/reporters/console.js:16:36
    at Array.forEach (native)
    at /home/vagrant/www/node_modules/jscs/lib/reporters/console.js:14:35

[2015-10-01 08:28] #164 closed

[2015-10-01 10:23] alawatthe commented on #159
LGTM, thank you :-)

[2015-10-01 13:51] gajus opened #165 ""object" must be lowercase in the strictNativeCase"
[code]

OK

[code]

OK

[code]

OK

[code]

NOT OK

[code]

OK

[code]

OK

[code]

OK

[2015-10-01 14:45] zxqfox commented on #165
Well, but:
[code]

[2015-10-01 14:52] gajus commented on #165
For some reason I assumed that plain object does not have `.constructor.name`.

[2015-10-01 14:59] zxqfox commented on #165
@gajus Just noticed that natives should be primitives: https://developer.mozilla.org/en-US/docs/Glossary/Primitive
Oopsie!

[2015-10-01 22:07] gajus opened #166 "What was the reason for removing a period after the error message?"
https://github.com/jscs-dev/jscs-jsdoc/commit/c7684978337ff8679296923e0f971addec376e9e#diff-b42988fd48ef517b52861127d96304b8L80

In this commit you have removed a period after all the error messages. What is the reason for that?

[2015-10-01 22:51] zxqfox commented on #166
In JSCS for some reason we don't have periods in error messages.

E.g.:
- https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-arrow-functions.js#L64
- https://github.com/jscs-dev/node-jscs/search?utf8=%E2%9C%93&q=errors.add

[2015-10-01 22:54] gajus commented on #166
It is somewhat ironic that an error for a rule `requireDescriptionCompleteSentence` is without a closing period. But if thats the convention, thats the convention.

[2015-10-01 22:54] #166 closed

[2015-10-01 22:55] zxqfox commented on #166
@gajus up ↑ ;-)

[2015-10-02 00:03] gajus opened #167 "Force @return or @returns"
Have a rule that forces user to use either `@return` tag or `@returns`.

[2015-10-02 00:04] gajus opened #168 "Consider including contents of the README"
See how `eslint-plugin-jsdoc` `README.md` document is generated:

* https://github.com/gajus/eslint-plugin-jsdoc/tree/master/.README
* https://github.com/gajus/eslint-plugin-jsdoc/blob/dca8ddc83aa10290db04ab47567512b363649630/package.json#L33

The current `jscs-jsdoc` `README.md` is hard to read/navigate.

[2015-10-02 00:12] gajus opened #169 "Separate checkTypes rule into checkTypes and checkNativeTypeCase"
I only want to make sure that when type is native it is one of the following: boolean, number, string, Object, Array, Date, RegExp.

I do want to allow types that refer to `typedef`, e.g. `foo~something`.

Based on the current https://github.com/jscs-dev/jscs-jsdoc#checktypes description, it appears that this rule disallows use of custom types.

[2015-10-02 20:58] zxqfox commented on #167
Does `checkTypes: { extra: { "returns": null } }` to deny `@returns` would be fine?

[2015-10-02 21:07] zxqfox commented on #167
I should say that currently you allowing both when you using closure or jsdoc3 tag set: https://github.com/jscs-dev/jscs-jsdoc/blob/1d6e20f588564fa61f8794b9d1301702abdfa4be/lib/tags/jsdoc3.json#L64-L65

But I'm not sure that this is right.
Closure compiler uses `@return`: https://developers.google.com/closure/compiler/docs/js-for-compiler#tag-return — Guess we can safely remove `@returns` from it.

[2015-10-02 21:18] zxqfox commented on #131
Closing this for now as resolved. If somebody still xp'd this issue — please let me know.

[2015-10-02 21:18] #131 closed

[2015-10-02 21:19] zxqfox commented on #128
Should be fixed since v1.2.0. Thanks for report

[2015-10-02 21:19] #128 closed

[2015-10-02 21:38] gajus commented on #167
Semantically, @return does not make sense. You don't give a command to the function. You describe what it does. It returns a value.

[2015-10-02 21:43] zxqfox commented on #169
It should not. It just checks that your types (native/custom whatever) are parseable.
Here you can try it: http://kuniwak.github.io/jsdoctypeparser/

Atm, jsdoc using v1.4, and upgrade in progress. And I was trying to implement it since the end of aug.
Guess it's time to do this.

`foo~something` is a valid jsdoc type so the rule should NOT report it.

Ref: https://github.com/jscs-dev/node-jscs/is

[2015-10-03 01:29] zxqfox commented on #168
Awesome idea ;-D

[2015-10-08 08:21] tonyganch commented on #5
I would love to get `trailingUnderscoreAccess` option, since we write private methods `likeThis_`. Can you consider implementing this feature, please?

[2015-10-08 10:20] zxqfox commented on #5
@tonyganch Please, file an issue ;-)

[2015-10-08 10:23] tonyganch opened #170 "Add "trailingUnderscoreAccess" option"
I would love to see `trailingUnderscoreAccess` option implemented, since in our project we write private methods `likeThis_`. I expect the option to do the same things as `leadingUnderscoreAccess` currently does.

Related issue: #5
:octopus:

[2015-10-13 05:16] ronkorving opened #171 "requireDescriptionCompleteSentence is not allowed to be `false` or `null`"
Original issue: https://github.com/jscs-dev/node-jscs/issues/1838

[2015-10-18 02:24] cristianurbano commented on #151
how can I ignore ngdoc directives in jscs?

[2015-10-19 13:04] gajus commented on #167
Has any decision been taken regarding this since?

[2015-10-19 13:18] zxqfox commented on #167
I'd suggest to wait "multi-sets" (when you'll be able to use jsdoc3 with googleclosure addon) and then cleanup tag sets (e.g. remove returns from googleclosure set).

I think we shouldn't remove `@return` from jsdoc3 according to docs: http://usejsdoc.org/tags-returns.html
But there is no `@returns` in googleclosure: https://developers.google.com/closure/compiler/docs/js-for-compiler ;-)

What you

[2015-10-19 15:36] gajus commented on #167
A rather general suggestion is to remove https://github.com/jscs-dev/jscs-jsdoc#checkannotations entirely. This rule is too broad. Instead, allow granular control (allowed, not allowed), case sensitive, control of all the supported tags.

[2015-11-12 13:07] gavD commented on #151
@cristianurbano I managed to get this working with the following .jscsrc:

[code]

You may need to add more entries to the extra section for the tags you use.

[2015-11-14 15:13] dpalic commented on #151
yes, would be great to get such a support native integrated into jsdoc

[2015-11-14 18:29] cristianurbano commented on #151
@gavD , that works for me! thanks!

[2015-11-15 17:58] paladox opened #174 "Support disabling rules in jsdoc"
Please support disabling rules in jsdoc like you can in jscs.

For example a rule could look like

	"jsDoc": {
		"requireParamTypes": null
	}

Since some preset set the default we should be allowed to override these like you can in jscs.

[2015-11-15 18:21] ricordisamoa commented on #174
:+1:
Of course it should merge jsDoc rules from presets.

[2015-11-15 18:28] zxqfox commented on #174
Thanks for report, ye, we should do it like an age ago.

p.s. Would you like to implement this? I'm a little bit busy to do it completely by self but I can assist you.

[2015-11-17 17:36] paladox commented on #174
Hi @zxqfox I will give it ago. I am trying to compie the jscs files to this what should I look for settings wise to be able to do what this bug describes letting you enable and disable like you can in jscs.

[2015-11-17 17:44] paladox commented on #174
And where should I look. and what piece of code.

[2015-11-17 18:15] zxqfox commented on #174
@paladox JSCS passing options here: https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc.js#L23

But I'd say it's somewhere in JSCS: https://github.com/jscs-dev/node-jscs/blob/master/lib/config/configuration.js#L67

[2015-11-17 18:26] paladox commented on #174
Thanks.

[2015-11-20 02:47] Krinkle opened #176 "Parameter validation wrongly associates closure and doc block"
JSDuck supports the concept of documenting class members not explicitly declared in code. Typically this is used for creating basic entities for upstream libraries.

Examples:
- https://github.com/senchalabs/jsduck/blob/v5.3.4/js-classes/Array.js
- https://github.com/wikimedia/VisualEditor/blob/REL1_25/.jsduck/external.js

In general however it uses the rule that a documentation block and code are

[2015-11-23 10:20] manikandants commented on #80
:+1: Any updates on this?

[2015-11-23 14:07] zxqfox commented on #80
The idea was to add a preset with all `apiDoc` tags. But it's useless until there is no multipreset support. #69

Atm you can do it manually (see http://jscs.info/rule/jsDoc#checkAnnotations):
[code]

[2015-11-24 05:41] manikandants commented on #80
Thanks @zxqfox :+1: As you mentioned, solved it manually :smiley:
[code]

[2015-12-02 16:26] paladox commented on #176
@Krinkle should we change /** too /*! temporarily until the problem is fixed.

[2015-12-02 16:58] byuksel opened #180 "requireDescriptionCompleteSentence: fails to recognize inlined links."
[code]

[2015-12-03 21:16] jdforrester commented on #137
Sorry, this can be marked as resolved.

[2015-12-03 21:16] #137 closed

[2015-12-05 12:55] #159 closed

[2015-12-05 17:32] #158 closed

[2015-12-05 23:12] zxqfox commented on #180
@byuksel Thanks for the report. I've made a test case:
[code]

But can't reproduce this case ;-( Can you provide some more info about it?

[2015-12-06 00:26] zxqfox commented on #180
Found another minor bug :cactus: Thanks again! Fixed both of them.

[2015-12-06 16:25] #180 closed

[2015-12-06 21:38] #153 closed

[2015-12-07 01:19] #145 closed

[2015-12-07 01:21] #129 closed

[2015-12-07 02:45] zxqfox commented on #174
Sorry for long delay, but I still not sure where we should do it. ;-(

I'm planning to try new jsdoctypeparser at wednesday and will look deeper into the problem.

[2015-12-07 07:29] paladox commented on #174
Thanks.

[2015-12-09 20:56] paladox commented on #171
Please see https://github.com/jscs-dev/jscs-jsdoc/issues/174

[2015-12-09 21:08] paladox commented on #176
Please reopen this. The problem still happens.

[2015-12-09 21:11] paladox commented on #176
https://integration.wikimedia.org/ci/job/mediawiki-core-npm/8190/console

[2015-12-09 21:49] paladox commented on #176
It is to do with checkParamNames. checkParamNames is causing the error.

[2015-12-21 17:54] fracmak opened #183 "jsdoc incorrectly validates shorthand arrow functions with nested function signatures"
jsdoc correctly validates simple short hand arrow functions as suck:

[code]

but fails when you add a function signature into the mix

[code]

with the error message `Expected a but got xxx`

[2015-12-26 16:09] gajus opened #184 "Merge checkParamNames and checkRedundantParams"
I cannot see a good use case for having:

* https://github.com/jscs-dev/jscs-jsdoc#checkparamnames
* https://github.com/jscs-dev/jscs-jsdoc#checkredundantparams

as separate rules.

Whats the reasoning?

[2015-12-27 22:29] pabigot opened #185 "AssertionError with missing braces and multi-line description in @returns tag"
Reproduced with node-jscs, but from the stack trace I think the issue lies here.

The following source code:

    /**
     * Description.
     *
     * @param {integer} v - value v
     *
     * @param {integer} w - value w
     *
     * @returns string - `v`
     * plus `w` as a string
     */
    function f(v, w) {
      return (v + w).toString(16);
    }

when processed with a `.jscsrc` holding

[2016-01-10 06:38] zxqfox commented on #185
Thanks for report. Looking at it.

[2016-01-31 12:59] XGHeaven opened #187 "Why can't support array[].property jsdoc syntax??"
In jsdoc ,it support that syntax.
[code]

copied from [jsdoc](http://usejsdoc.org/tags-param.html#parameters-with-properties)

But jscs-jsdoc can't support that....

[2016-02-01 21:06] elijahsmith commented on #174
duplicate of #61?

[2016-02-01 21:15] zxqfox commented on #174
Oh, not actually.

This issue about disabling some jsDoc rules predefined in preset. Like if your google preset have some jsDoc settings and you need to disable just one, instead of copy-pasting the whole configuration.

[2016-02-02 15:42] Yeti-or opened #188 "What about toLowerCase() all tags?"
So `memberOf` will be equal to `memberof`
jsdoc works with both.

[2016-02-02 15:56] zxqfox commented on #188
what about MEMBERoF?

[2016-02-02 16:06] Yeti-or commented on #188
yes. it's okay too

[2016-02-03 10:40] annsk opened #189 "enforceExistence rule not work properly for anonymous function."
For function in this code jscs throw error. It should be param for suppress it.

[code]

[2016-02-03 11:51] zxqfox commented on #189
What the config you have?

Did you tried `"enforceExistence": {"allExcept": ["expressions", "paramless-procedures"]}`?

See also: http://jscs.info/rule/jsDoc#enforceexistence

[2016-02-03 13:05] annsk commented on #189
Ok, it works. I'd old version. But now I have next problem.

In my config I has:
[code]
But here:
[code]
I got an error: Illegal space after key (in line with key "core").

[2016-02-03 13:12] zxqfox commented on #189
Thanks for report.

Yeah, that's a known bug: https://github.com/jscs-dev/node-jscs/issues/2080, but it doesn't belongs to jscs-jsdoc.

If you have any other question, feel free to ask ;-)

[2016-02-03 13:12] #189 closed

[2016-02-04 20:03] Krinkle opened #190 "False positive "Unexpected data in tag constructor" for JSDuck"
In general, JSDuck content prefers descriptions as first part of a documentation block, followed by any tags and their values.

[code]

However, when documenting the constructor of a class, this doesn't work. JSDuck seems to require the description be after the `@constructor` tag in that case.

[code]

Example: https://doc.wikimedia.org/mediawiki-core/master/js/#!/api/mw.Title

Source code: [media

[2016-02-04 20:36] zxqfox commented on #190
Actually, if I got it right, it can be solved easily by fixing a value for constructor tag: https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/tags/jsduck5.json#L11

Can you try it locally?

[2016-02-11 21:34] ianmcburnie opened #191 "@listens tag is missing from jsdoc3.json"
@listens tag is missing from jsdoc3.json

https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/tags/jsdoc3.json

Appears to be a valid tag in JSDoc:

http://usejsdoc.org/tags-listens.html

[2016-03-03 12:35] blazkovicz opened #193 "Is there a way to switch off jsdoc enforceExistence for anonymous arrow functions?"
Jscs  "2.10.1" requires jsdoc for any anonymous arrow function.
It's very inconvenient to write jsdoc for functions inside Array.sort, Array.map, Array.filter etc.

Example:

![1](https://cloud.githubusercontent.com/assets/4517837/13494468/2e9690f8-e166-11e5-830d-677f02192a63.png)

Next config does not help:

[code]

[2016-03-03 23:05] zxqfox commented on #193
Looks like you are looking for `'arrow'`: https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc/enforce-existence.js#L19

[2016-03-04 05:27] blazkovicz commented on #193
Actually, I'm looking for anonymous, in previous version jscs did not require documentation for anonymous arrows, but this option can be helpfull also, thank you. Is it supported fully? Because official docs don't contain this option.

[2016-03-04 10:00] zxqfox commented on #193
Uhm, yeah, it's supported. It's excepted by default as I see, but if you specify another exception it's reenabled. I think all be fine if you will add `'anonymous'` to your exceptions list.

And yes, it's a problem with docs. Thanks!

[2016-03-07 18:19] jipodine opened #194 "Function is missing documentation for parameter `undefined` with default parameters"
Hi,

When using an empty object as a default parameter, in a function, a method, or a constructor, I get the following errors, with jscs@2.11.0 and jscs-jsdoc@1.3.1:

[code]

[code]

[code]

With the configuration

[code]

And yes, `option` is defined:

[code]

Am I missing a configuration somewhere?

[2016-03-16 15:22] #191 closed

[2016-03-24 19:11] dtracers opened #195 "New Rule: enforce order of tags"
Maybe allow a way to enforce order of tags.
Examples

[code]

[2016-03-24 19:35] zxqfox commented on #195
Yeah, nice idea. ;-)

What to do with not listed tags? Should they placed before or after?
Or maybe we should just report order between listed tags and keep the rest at their places? (More polite way, I guess).

[2016-03-24 19:41] dtracers commented on #195
That was what I was thinking.  Then you could use the presets for the
different languages
On Mar 24, 2016 2:35 PM, "Alexej Yaroshevich" <notifications@github.com>
wrote:

[2016-04-11 16:08] buenjybar opened #196 "Question : How to add custom code to check to jscs-jsdoc module?"
Hi,

i have a specific rule that allow us to use multiple "@returns" tags in our documentation.
i have modified the _check-return-type.js_ file in order to take this in consideration.
My question is how could i integrate it in my project?

is there a **plugin ** structure like jsdoc3.4 to override a part of the code ? or should i copy the entire jscs-jsdoc in my project ?

with regards,

[2016-04-11 23:16] zxqfox commented on #196
Heya. Thanks for a question.

I don't know much about jsdoc3.4 plugin structures to answer it correctly, but if I got it right the answer is no, jscs-jsdoc doesn't have their own plugin method, but you can base your own rules with jscs-jsdoc's. So I guess you can copy-paste just the `check-return-type` rule, rename it, fix it, and use it.

p.s. To have 2 `@returns` statements is quitely strange ca

[2016-04-12 15:29] buenjybar commented on #196
HI @zxqfox,

first i would like to thank you for the quick reply.
i made my modification in _check-return-type_ and it is working fine but i had to fork/copy the entire project in my repository.

what i was thinking is i could load the '*scs-jsdoc* plugin first then i will create my own jscs plugin that will override your check-return-type behavior but i don't think this is possible ( the error wi

[2016-04-12 15:52] zxqfox commented on #196
I guess we can allow this behaviour with an option since it looks valid and non-conflictable. Do you mind about PR? ;-)

The problem with `jscs-jsdoc` is there are no namespaces for rules and it's just the one rule for `jscs`, but several rules for `jscs-jsdoc`. It's kind of poor subplugin system.

To override you could have to incapsulate jscs-jsdoc (instead of forking), redefine just needed part

[2016-04-13 18:16] buenjybar commented on #196
well my commits is a pseudo fix, i don't think this is the best approach but it doing the trick.

here is the code:
[code]
with regards,

[2016-06-11 15:35] dtracers opened #198 "an error with jsDoc"
[code]

This is running on my grunt file. I am using verison 3.0.0

[2016-06-11 16:14] dtracers opened #199 "[Meta] Is this merging into ESLint?"
Is jscs-jsdoc getting merged into ESLint?

I have a couple of rules I want to write in a couple of months but I do not want to add them if they are just getting dropped by the transition.

[2016-06-14 12:14] dpalic commented on #151
are there any updates on this issue? Anything which maybe planned for the near future?

[2016-07-11 12:27] zxqfox commented on #194
Looks like there is an error with wrong calculating line in checkAnnotations. This rule requires description for EVERY param in your jsdoc. You have 2 lines with missing description: `@param {Object} options` and `@param {Number} [options.channelCount=1]`. Also I'm not sure about `@returns`, prob it requires description too.

You can safely disable this rule to prevent errors of this kind.

[2016-09-12 14:03] numblock commented on #198
For what it's worth, I got this error when one of my doc comments ended in: `**/` instead of `*/`

[2017-03-16 22:21] #176 closed

[2017-03-16 22:22] #190 closed

[2017-03-16 22:22] #146 closed

[2017-03-21 22:04] baburdick commented on #199
Does ESLint have equivalent functionality?

[2017-03-22 15:58] zxqfox commented on #199
The most close version for jsdoc is https://github.com/gajus/eslint-plugin-jsdoc

[2018-04-19 16:11] #83 closed